body {
  margin: 20px;
  background: rgb(245, 253, 255);
}

.center {
  text-align: center;
}

.header h5 {
  font-weight: normal;
}

.overview,
.experience,
.skillhighlight,
.education,
.contact {
  margin: 35px 0px;
}

.exp {
  margin-left: 30px;
  margin-top: 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
